@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 231 8% 18%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 0 0% 93.7%;
    /* #EFEFEF */
    --primary-foreground: 0 0% 93.7%;
 
    --secondary: 246 100% 96%;
    --secondary-foreground: 0 0% 64.1%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark, [data-theme='dark']  {
    --background: 0 0% 9%;
    --foreground: 231 8% 18%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 0 0% 93.7%;
    /* #EFEFEF */
    --primary-foreground: 0 0% 93.7%;
 
    --secondary: 246 100% 96%;
    --secondary-foreground: 0 0% 64.1%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
    .custom-background{
        /* background: linear-gradient(0deg, #070A0F 0%, rgba(51, 50, 60, 0.82) 43%, rgba(62, 60, 83, 0.80) 68.5%, rgba(61, 59, 72, 0.09) 100%); */
        background: linear-gradient(359deg, #1F2225 0.74%, rgba(63, 70, 77, 0.25) 76.27%, rgba(74, 80, 85, 0.00) 99.21%);
    }
    .inner-wrapper{
      @apply text-primary
    }

    .server-img-overlay{
      background: linear-gradient(180deg, rgba(44, 44, 44, 0.08) 0%, rgba(36, 35, 37, 0.87) 100%);
    }
    .version-text-overlay{
      background: linear-gradient(90deg, #6557FF 0%, #AA3FFF 29.43%, #AA3FFF 68.23%, #F8522E 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .custom-title-color{
      background: var(--RadialWhite, radial-gradient(70.71% 70.71% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.80) 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .indicator-bg-color{
      border-radius: 6px 0px 0px 6px;
      background: linear-gradient(90deg, rgba(29, 29, 33, 0.92) 0.24%, rgba(30, 31, 41, 0.50) 96.93%);
      backdrop-filter: blur(2px);
    }

    div.relative .rounded-large{
      height: 100%;
      width: 100%;
      max-width: none !important;
      position: absolute;
      top: 0;
      z-index: 0;
    }

    .custom-hover-shadow{
      filter: drop-shadow(2px 2px 10px rgba(103, 87, 255, 0.80));
    }
    .discord-banner{
      background: linear-gradient(265deg, #D9D9D9 0%, #1F186E 0.01%, #8348C2 100%);
    }
}

@layer utilities {

}